# IDEs
.vscode
.idea
.clion
CMakeLists.txt
cmake-build-debug

# temporary files
*.swp

# files/solutions
template.*
.supaSecret

# screen recordings (usually for CCC)
*.mp4
*.mkv

# scripts to rename files for SEO
rename_solutions.ps1
rename_solutions.sh

